<?xml version="1.0" encoding="UTF-8"?>
<Installer>
  <Name>Edward William Lane's Arabic-English Lexicon</Name>
  <Version>1.1.0</Version>
  <Title>Lane's Lexicon Installer</Title>
  <Publisher>Graeme Andrews</Publisher>
  <ProductUrl>https://laneslexicon.github.io/lexicon/site/</ProductUrl>
  <StartMenuDir>Lane</StartMenuDir>
  <RunProgram>@TargetDir@/laneslexicon.exe</RunProgram>
  <RunProgramDescription>Run the program after installation.</RunProgramDescription>
  <TargetDir>@HomeDir@/LanesLexicon</TargetDir>
</Installer>
